:root {
  --primary-color: linear-gradient(90deg, #4a00e0 0%, #8e2de2 100%);
  --bg-color: #f4f6f9;
  --card-color: #1b2330;
  --text-color: #222;
  --muted-color: #9ca3af;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Main content */
main {
  padding-left: 20rem;
  padding-right: 20rem;
  flex: 1;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main h1 {
  margin-bottom: 0;
}
main h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.audit-card {
  display: flex;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 12px;
  width: 100%;
}

.audit-icon {
  background-color: #2a3440;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-right: 15px;
}

.audit-details {
  flex: 1;
}

.audit-details p {
  margin: 0;
  font-weight: 500;
  color: white;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: rgb(103, 209, 103);
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status.completed .status-dot {
  background-color: #4ade80;
}

.audit-date {
  font-size: 13px;
  color: var(--muted-color);
}

/* Add Button */
.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(156, 39, 176, 0.3);
  transition: background 0.3s ease;
}

.add-btn:hover {
  background-color: #7b1fa2;
}

.add-btn .material-symbols-outlined {
  font-size: 22px;
  margin-right: 8px;
}

@media (max-width: 480px) {
  /* Main content */
  main {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 1rem;

    width: 80%;
  }

  .audit-card {
    padding: 10px;
    margin-bottom: 10px;
  }

  .audit-icon {
    width: 40px;
    height: 40px;
    border-radius: 6px;

    font-size: 20px;
    margin-right: 10px;
  }

  .audit-details p {
    font-size: 15px;
  }

  .status {
    gap: 3px;
    font-size: 10px;
  }

  .status-dot {
    width: 5px;
    height: 5px;
  }

  .status.completed .status-dot {
    background-color: #4ade80;
  }

  .audit-date {
    font-size: 8px;
  }

  /* Add Button */
  .add-btn {
    border-radius: 0.5rem;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    margin: 3px auto;
  }
  h2 {
    margin: 0;
  }
}
